# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
*.zip

# Node
node_modules/
build/
.next/

# Env
.env
.env.local
.env.*.local

# Docker
*.override.yml

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# DB
*.db
*.sqlite
